@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open Sans');
@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-prev:before, .slick-next:before{
    color: white !important;
    font-size: 30px !important;
    background: black !important;
    border-radius: 50% !important;
}

.slick-prev {
    left: -36px !important;
}

.slick-prev, .slick-next {
}